<link rel="stylesheet" href="{{ url_for('static', path='css/katex.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/hljs-chat.css') }}?v={{ static_ver }}">
<script src="{{ url_for('static', path='js/vendor/marked.min.js') }}"></script>
<script src="{{ url_for('static', path='js/vendor/highlight.min.js') }}"></script>
<script src="{{ url_for('static', path='js/vendor/katex.min.js') }}"></script>
<script src="{{ url_for('static', path='js/markdown.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='vendor/open-intelligent-ui/design-system.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='vendor/open-intelligent-ui/trip-animator.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/intelligent_ui.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/generative_ui.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/artifact_preview.js') }}?v={{ static_ver }}"></script>
<link rel="stylesheet" href="{{ url_for('static', path='css/xterm.css') }}?v={{ static_ver }}">
<script src="{{ url_for('static', path='js/vendor/xterm.min.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/vendor/xterm-addon-fit.min.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/terminals.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/processes.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/artifacts.js') }}?v={{ static_ver }}"></script>
<link rel="stylesheet" href="{{ url_for('static', path='css/chat.css') }}?v={{ static_ver }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/workspace.css') }}?v={{ static_ver }}">
<script src="{{ url_for('static', path='js/chat_worknotes.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/swarm_run.js') }}?v={{ static_ver }}"></script>
