<link rel="stylesheet" href="{{ url_for('static', path='css/katex.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/hljs-chat.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/browser.css') }}?v=browser5">
<script src="{{ url_for('static', path='js/vendor/marked.min.js') }}"></script>
<script src="{{ url_for('static', path='js/vendor/highlight.min.js') }}"></script>
<script src="{{ url_for('static', path='js/vendor/katex.min.js') }}"></script>
<script src="{{ url_for('static', path='js/markdown.js') }}?v=md-art2"></script>
<script src="{{ url_for('static', path='js/generative_ui.js') }}?v=gen-ui4"></script>
<script src="{{ url_for('static', path='js/artifacts.js') }}?v=art-gemini1"></script>
<script src="{{ url_for('static', path='js/browser_bridge.js') }}?v=browser5"></script>
