{% extends "base.html" %}
{% block extra_head %}<link rel="stylesheet" href="{{ url_for('static', path='css/plugins.css') }}?v={{ static_ver }}">{% endblock %}
{% block content %}
<div class="page pl" id="pl"><noscript><p class="pl-empty">Plugins needs JavaScript.</p></noscript></div>
<aside class="pl-panel" id="pl-panel" aria-label="Plugin details" hidden></aside>
<div id="pl-modal"></div>
<script type="application/json" id="pl-data">{{ {
  "plugins": plugins,
  "catalog": catalog,
  "marketplaces": marketplaces|default([]),
  "agents": builder_agents|default([]),
  "workplaces": builder_workplaces|default([]),
  "admin": can_manage_plugins,
  "icons": plugin_icon_paths,
}|tojson }}</script>
{% endblock %}
{% block scripts %}<script src="{{ url_for('static', path='js/plugins.js') }}?v={{ static_ver }}"></script>{% endblock %}
