{% extends "base.html" %}
{% block content %}
<div class="sessions-page">
  {% include 'partials/sessions/sidebar.html' %}
  {% include 'partials/sessions/main.html' %}
</div>
{% include 'partials/sessions/modals.html' %}
{% endblock %}
{% block scripts %}
{% include 'partials/chat_assets.html' %}
<script src="{{ url_for('static', path='js/folder_picker.js') }}?v=1"></script>
<script src="{{ url_for('static', path='js/context_usage.js') }}?v=chat-clean2"></script>
<script src="{{ url_for('static', path='js/chat.js') }}?v=chat-acts3"></script>
<script src="{{ url_for('static', path='js/sessions.js') }}?v=chat-search1"></script>
{% endblock %}
