{% extends "base.html" %}
{% block content %}
<div class="sessions-page" id="sessionsPage">
  {% include 'partials/sessions/main.html' %}
</div>
{% include 'partials/sessions/modals.html' %}
{% endblock %}
{% block scripts %}
{% include 'partials/chat_assets.html' %}
<script src="{{ url_for('static', path='js/folder_picker.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/context_usage.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/connection_ui.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/hitl_ui.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/chat_turn_stream.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/chat.js') }}?v={{ static_ver }}"></script>
<script src="{{ url_for('static', path='js/sessions.js') }}?v={{ static_ver }}"></script>
{% endblock %}
