{% extends "base.html" %}
{% block content %}
<div class="studio">
  {% include 'partials/settings/nav.html' %}
  <div class="studio-main">
    {% include 'partials/settings/general.html' %}
    {% include 'partials/settings/models.html' %}
    {% include 'partials/settings/memory.html' %}
    {% include 'partials/settings/tools.html' %}
    {% include 'partials/settings/plugins.html' %}
    {% include 'partials/settings/hmads.html' %}
    {% include 'partials/settings/users.html' %}
    {% include 'partials/settings/shared_channel.html' %}
    {% include 'partials/settings/logs.html' %}
  </div>
</div>
{% endblock %}
{% block scripts %}<script src="{{ url_for('static', path='js/system.js') }}?v=kb1"></script>{% endblock %}
